<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<p><%= @message.name %> o emailu <%= @message.email %> wysłał Ci wiadomość</p>
    <p><b><%= @message.title %></b></p>
		<p><%= @message.body %></p>
  </body>
</html>
